body{  
font-family:arial, times, serif;  
font-style:normal;  
font-weight:normal;  
font-size:12px;}  
  
.short-cut{  
margin-left:50px;  
width:1248px;  
height:60px;  
background-color:transparent;  
display:table;  
border-bottom:5px solid lightgrey;  
}  
  
h1{  
  
display:table-cell;  
vertical-align:middle;  
font-size:30px;  
}  
  
.w{  
position:relative;  
top:0px;  
left:50px;  
width:1248px;  
height:100%;  
font-size:15px;}  
}  
  
#table1{  
position:absolute;  
  
width:50%;  
margin-left:50px;  
  
}  
  
#table1 td:nth-of-type(1){  
width:90px;  
height:75px;  
border:0;  
}  
#table1 td:nth-of-type(2){  
width:10px;  
height:75px;  
border:0;  
}  
#table1 td:nth-of-type(3){  
width:250px;  
height:70px;  
border:1px;  
}  
  
#table2{  
border:0;  
width:300px;}  
  
button{  
width:120px;  
height:40px;  
color:white;  
background-color:rgb(2, 114, 188);  
border-radius:10%;  
  
}